* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

header {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  height: 65px;
}

.header--content {
  margin: auto;
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo--content {
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo--image {
  width: 31.31px;
  height: 26.22px;
}

.logo--text {
  font-style: normal;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
  color: #ffffff;
}

.header--title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.form {
  width: 550px;
  margin: auto;
  margin-top: 36px;
}

.input--fields {
  display: flex;
  justify-content: space-between;
  padding-left: 37px;
  padding-right: 37px;
}

.form--input {
  width: 230px;
  height: 35px;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.generate--button {
  font-family: "Karla", sans-serif;
  width: 477px;
  height: 40px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  margin-left: 37px;
  margin-top: 15px;
  color: #ffffff;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.1em;
}

.meme--image {
  margin-top: 36px;
  margin-left: 37px;
  width: 477px;
  height: 320px;
}
